/* style variables */

:root {
  --background-color: #fcfcfc;
  --border-radius: 10px;
  --font-family: Verdana, sans-serif;
  --font-size: 1.05rem;
  --line-height: 2;
  --primary-color: #419d45;
  --secondary-color-dark: #2e7d32;
  --secondary-color: #388e3c;
  --text-color: #333333;
}

/* global styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-margin-top: 6rem;
}

/* body styles */

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
}

/* header styles */

header {
  background-color: var(--primary-color);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  text-align: center;
}

/* navigation styles */

nav {
  background-color: var(--secondary-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.2);
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding: 0.5rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav a {
  border-radius: var(--border-radius);
  color: white;
  font-weight: bold;
  padding: 0.5rem;
  text-decoration: none;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: var(--secondary-color-dark);
}

/* main content styles */

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem auto;
  max-width: 1000px;
}

/* card styles */

.card {
  background-color: white;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  transition: all 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.card h2 {
  color: var(--primary-color);
}

.card h3 {
  margin-top: 1rem;
}

.card ul {
  padding-left: 1.25rem;
}

.card li a {
  color: var(--primary-color);
}

/* quiz styles */

.question {
  border-radius: var(--border-radius);
  border: 2px dashed var(--primary-color);
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.question p {
  width: 100%;
}

button {
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  border: none;
  color: white;
  cursor: pointer;
  font-size: 0.95rem;
  font-weight: bold;
  min-width: 23%;
  padding: 0.75rem 1.5rem;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--secondary-color-dark);
}

/* Footer styles */

footer {
  background-color: var(--primary-color);
  box-shadow: 4px 0 8px rgba(0, 0, 0, 0.1), 8px 0 16px rgba(0, 0, 0, 0.2);
  color: white;
  padding: 1rem;
  text-align: center;
}

footer p:nth-child(2) {
  display: none;
}

/* general styles */

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hidden-content {
  display: none;
}

/* tema escuro */
.dark-mode {
  --background-color: #121212;
  --text-color: #000000;
  --primary-color: #114570;
  --secondary-color: #0a3152;
  --secondary-color-dark: #062036;
}


/* responsive design for medium screens */

@media (max-width: 905px) {
  /* adjust main content for medium screens */

  main {
    margin: 1rem;
  }
}

/* responsive design for Small Screens */

@media (max-width: 600px) {
  /* adjust font size and line height for smaller screens */

  :root {
    --font-size: 0.95rem;
    --line-height: 1.75;
  }

  /* adjust header for smaller screens */

  header {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-direction: row;
    font-size: 0.7rem;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  header p {
    display: none;
  }

  /* adjust navigation bar for smaller screens */

  nav {
    display: none;
  }

  /* adjust main content for smaller screens */

  main {
    gap: 1rem;
    margin: 1rem;
  }

  /* adjust card headings for smaller screens */

  .card h2 {
    font-size: 1.2rem;
  }

  .card h3 {
    font-size: 1rem;
  }

  /* adjust quiz layout for smaller screens */

  .question {
    flex-direction: column;
  }

  /* adjust footer for smaller screens */

  footer p:nth-child(1) {
    display: none;
  }

  footer p:nth-child(2) {
    display: block;
  }
}
